<h1 mat-dialog-title>Editar lista de la compra</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Nombre:</mat-label>
        <input matInput type="text" [(ngModel)]="nombreLista">
    </mat-form-field>    
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="nombreLista" >Actualizar</button>
</div>