<mat-list-item matRipple [routerLink]="['/lista-compra', listaCompra.id]" routerLinkActive="active">
    <div class="row">
        <div class="column">
            <span>{{ listaCompra.nombre }} </span>
        </div>

        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="onClick($event)" aria-label="Abrir menú de lista de la compra" >
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="abrirEditarLista()">
                <mat-icon>edit</mat-icon>
                <span>Editar lista</span>
            </button>
            <button mat-menu-item (click)="abrirEliminarLista()">
                <mat-icon>delete</mat-icon>
                <span>Eliminar lista</span>
            </button>
        </mat-menu>
    </div>
</mat-list-item>