

<h1>{{ quote.text }} <small>({{ quote.author }})</small></h1>
<button (click)="getRandomQuote()">Nueva cita</button>

<form (ngSubmit)="addQuote()">
  <div><label for="text">cita:</label><input id="text" type="text" name="text" /></div>
  
 <div> <label for="author">autor:</label><input id="author" type="text" name="author" /></div>
 <button type="submit">Enviar</button>
</form>
