.nombre {
    margin-right: 16px;
    display: inline-block;
    vertical-align: super;
}

.unidades {
    background-color: red;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    vertical-align: super;
}