.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;

        .logo {
            max-width: 200px;
            align-self:  center;
            margin-bottom: 2rem;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
        }
    }
}