<div class="registro-container">
    <form [formGroup]="registroForm" (submit)="doRegistro()">
        <img src="/assets/imgs/groceries.png" alt="Shopping list" class="logo">
        <h1>Shopping list - Registro de usuarios</h1>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" >
            <mat-error *ngIf="registroForm.get('email')?.invalid">Escribe tu correo electrónico</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password" >
            <mat-error *ngIf="registroForm.get('password')?.errors?.['required']">Escribe tu contraseña</mat-error>
            <mat-error *ngIf="registroForm.get('password')?.errors?.['minlength']">Mínimo 6 caracteres</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Repite la contraseña</mat-label>
            <input matInput type="password" formControlName="repitePassword" >
            <mat-error *ngIf="registroForm.get('repitePassword')?.errors?.['required']">Escribe tu contraseña</mat-error>
            <mat-error *ngIf="registroForm.get('repitePassword')?.errors?.['minlength']">Mínimo 6 caracteres</mat-error>
            <mat-error *ngIf="registroForm.get('repitePassword')?.errors?.['passwordsIguales']">Las contraseñas no coinciden</mat-error>
        </mat-form-field>
        <div class="buttons">
            <button type="button" [routerLink]="['/login']" mat-button color="accent">¿Ya tienes cuenta?<br />Identifícate</button>
            <button type="submit" [disabled]="registroForm.invalid" mat-raised-button color="primary">Regístrate</button>
        </div>
    </form>
</div>