<h1 mat-dialog-title>Añadir producto a lista</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Nombre del producto:</mat-label>
        <input matInput type="text" [(ngModel)]="datosProducto.nombre">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Unidades del producto:</mat-label>
        <input matInput type="number" [(ngModel)]="datosProducto.unidades">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="datosProducto">Añadir</button>
</div>