.noticias {
    
    &__noticia {
        background-color: #FFFFFF;
        padding: 50px;
        margin: 35px 0;

        &--color-principal{
            background-color: #CCCCCC;
        }
    
        &--color-fondo{
            background-color: #00FFFF;
        }
    }

    &__titulo{
        text-align: center;
        font-size: larger;
        padding: 20px 0;
    }
}