<div class="noticias">
  <div class="noticias__noticia">
    <h1 class="noticias__titulo noticias__noticia--color-principal">
      TÃ­tulo de la noticia
    </h1>
  </div>
  <div class="noticias__noticia">
    <h1 class="noticias__titulo noticias__noticia--color-fondo">
      TÃ­tulo de la noticia
    </h1>
  </div>
</div>




